/* 
.ticketMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    size: 1.2rem;
}

.ticketForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 2rem;
}

.ticketLable input, textarea, select{
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 1rem;
    border-radius: 5px;
} */