
.ticketMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 1.2rem;
}

.header{
    margin: 3rem;
}

.ticketForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 0 5rem;
    align-items: left;
    gap: 8px; 
    max-width: 900px;
}

.ticketLable label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: large;
  }
  
  .ticketLable input,
  .ticketLable textarea,
  .ticketLable select {
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin-left: 10px;
    width: 100%;
  }